<div class="container-fluid">
<div class="row table-responsive">
  <table class="table" style="width:100%">
    <tr >
      <td id="trsTabela" class="col col-md-3"><span style="color:white">Código - Vin</span></td>
      <td id="trsTabela" class="col col-md-2"><span style="color:white">Odometer</span></td>
      <td id="trsTabela" class="col col-md-2"><span style="color:white">Nível de Combustível</span></td>
      <td id="trsTabela" class="col col-md-1"><span style="color:white">Status</span></td>
      <td id="trsTabela" class="col col-md-2"><span style="color:white">Lat.</span></td>
      <td id="trsTabela" class="col col-md-2"><span style="color:white">Long.</span></td>
    </tr>
    <tr>
      <td class="col col-md-3"><input maxlength="20" style="height:5vh;margin-top:2%" [formControl]="acoesInput"></td>
      <ng-container *ngIf="veiculos$|async as veiculos">
        <ng-container *ngFor="let veiculo of veiculos; let i = index">
        <ng-container *ngIf="i<1 && acoesInput.value==veiculo.vin">
          <td class="col-12 col-md-2">{{veiculo.odometer}}</td>
          <td class="col col-md-2">{{veiculo.fuelLevel}}</td>
          <td class="col col-md-1">{{veiculo.status}}</td>
          <td class="col col-md-2">{{veiculo.lat}}</td>
          <td class="col col-md-2">{{veiculo.long}}</td>
        </ng-container>
        </ng-container>
      </ng-container>
    </tr>
  </table>
</div>
</div>
<div class="container-fluid">
  <div class="row" style="height:3vh;background-color:#1b357e"></div>
</div>
