.menu-bar {
  position:fixed;
  height:100%;
  width:90%;
  max-width: 320px;
  margin: 0;
  padding: 0;
  background: white;
  top: 0;
  left: -90%;
  transition: left 0.3s ease-out;
  z-index: 1;
}

#closeIcon {
  cursor:pointer;
}
.active-menu .menu-bar{
  left:0;
}

.active-menu .overlay {
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background: rgba(228, 217, 217, 0.4)
}
