<header>
  <div class="container mb-5 mt-3" style="width:72%">
    <div class="row text-center">
      <div class="col-sm-6"></div>
      <div class="col-sm-6"><img src="assets/img/ford.png" style="width:60%"></div>
    </div>
    </div>
</header>
<div class="container" style="width:75%">
  <div class="row">
    <div class="col-sm-6"><img src="assets/img/ranger.png" class="col-md-6" style="width:100%;opacity:0.7"></div>
    <div class="col-sm-6"><router-outlet></router-outlet></div>
  </div>
</div>
