<app-cabecalho></app-cabecalho>
<div class="container text-center mb-5">
  <h2>Dashboard FORD</h2>
</div>
<!-- <div class="container" *ngFor="let veiculo of veiculos; let i=index">
  <div class="row" *ngIf="i<1">
      <div class="col-md-3" >
        <div class="card">
          <div class="card-header">
            <h3>Veículo</h3>
          </div>
          <div class="card-body text-center">
            <select style="width:70%" [(ngModel)]="veiculoSelecionado" (change)="myFunction($event)">
              <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo">{{veiculo.vehicle}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class = col-md-3>
        <app-cartao-veiculos [veiculo]="veiculoSelecionado"></app-cartao-veiculos>
      </div>
        <div *ngIf="veiculo">
          <div class="col-md-6"><app-cartao-veiculos [veiculo]="veiculoSelecionado"></app-cartao-veiculos></div>
        </div>
      </div>
    </div> -->


          <!----  ________ esse aqui funciona
            \/
   <div class="container" *ngFor="let veiculo of veiculos; let i=index">
      <div class="row" *ngIf="i<1">
          <div class="col-md-3" >
            <div class="card" style="height:100%">
              <div class="card-header">
                <h3>Veículo</h3>
              </div>
              <div class="card-body text-center">
                <select style="width:70%" [(ngModel)]="veiculoSelecionado" (change)="es()">
                  <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo">{{veiculo.vehicle}}</option>
                </select>
              </div>
            </div>
          </div>
            <div class="col-md-3"><app-vendas [veiculo]="veiculoSelecionado"></app-vendas></div>
            <div class="col-md-3"><app-conectados [veiculo]="veiculoSelecionado"></app-conectados></div>
            <div class="col-md-3"><app-updates [veiculo]="veiculoSelecionado"></app-updates></div>
        </div>
      </div>
      <div class="container text-center mt-4">
        <img [src]="imagem" style="width:60%">
      </div> -->

<!--<div class="container" *ngFor="let veiculo of veiculos;let i=index">
  <div class="row" *ngIf="i<1">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Veículos</div>
        <div class="card-body">
          <select style="width:70%" (change)="onSelect(veiculo)">
            <option *ngFor="let veiculo of veiculos">{{veiculo.vehicle}}</option>
          </select>
      </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Total de Vendas</div>
        <div class="card-body">
          <p>{{veiculoSelecionado.volumetotal}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Conectados</div>
        <div class="card-body">{{veiculoSelecionado.connected}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Software Updates</div>
        <div class="card-body">{{veiculoSelecionado.softwareUpdates}}</div>
      </div>
    </div>
  </div>
</div>-->



<!--<div class="container" *ngFor="let veiculo of veiculos;let i=index">
  <div class = "row" *ngIf="i<1">
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Veículos</h3>
      </div>
      <div class="card-body text-center" style="height:100%;margin:10px" *ngIf="veiculo" >
        <select style="width:70%" [(ngModel)]="veiculoSelecionado" (change)="es()">
          <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo" selected>{{veiculo.vehicle}}</option>
        </select>
      </div>
    </div>
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Vendas</h3>
      </div>
      <div class="card-body" style="height:100%" *ngIf="veiculoSelecionado">
        <h5>{{veiculoSelecionado.volumetotal}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Conectados</h3>
      </div>
      <div class="card-body" style="height:100%" *ngIf="veiculoSelecionado">
        <h5>{{veiculoSelecionado.connected}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card col-md-3" style="width:25%;margin-left:3%">
      <div class="card-header">
        <h3>Software Updates</h3>
      </div>
      <div class="card-body" *ngIf="veiculoSelecionado" style="height:100%">
        <h5>{{veiculoSelecionado.softwareUpdates}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div style="height:250px"class="container text-center mt-2">
      <img *ngIf="veiculoSelecionado" [src]="imagem" alt="Modelo" style="width:50%">
    </div>
  </div>
</div>-->
<!--<div class="container" *ngFor="let veiculo of veiculos;let i=index">
  <div class = "row" *ngIf="i<1">
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Veículos</h3>
      </div>
      <div class="card-body text-center" style="height:100%;margin:10px" *ngIf="veiculo" >
        <select style="width:70%" [(ngModel)]="veiculoSelecionado" (change)="es()">
          <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo" selected>{{veiculo.vehicle}}</option>
        </select>
      </div>
    </div>
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Vendas</h3>
      </div>
      <div class="card-body" style="height:100%" *ngIf="veiculoSelecionado">
        <h5>{{veiculoSelecionado.volumetotal}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card col-md-3" style="width:20%;margin-left:3%">
      <div class="card-header">
        <h3>Conectados</h3>
      </div>
      <div class="card-body" style="height:100%" *ngIf="veiculoSelecionado">
        <h5>{{veiculoSelecionado.connected}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div class="card col-md-3" style="width:25%;margin-left:3%">
      <div class="card-header">
        <h3>Software Updates</h3>
      </div>
      <div class="card-body" *ngIf="veiculoSelecionado" style="height:100%">
        <h5>{{veiculoSelecionado.softwareUpdates}}</h5>
        <p>Unid.</p>
      </div>
    </div>
    <div style="height:250px"class="container text-center mt-2">
      <img *ngIf="veiculoSelecionado" [src]="imagem" alt="Modelo" style="width:50%">
    </div>
  </div>
</div>-->
<div class="container" *ngFor="let veiculo of veiculos;let i=index">
  <div class="row g-4"  *ngIf="i<1">
    <div class="col-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <h4>Veículos</h4>
      </div>
      <div class="card-body text-center" style="height:55px;margin:10px" *ngIf="veiculo" >
        <select style="width:70%" [(ngModel)]="veiculoSelecionado" (change)="es()">
          <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo" selected>{{veiculo.vehicle}}</option>
        </select>
      </div>
    </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-header">
        <h4>Vendas</h4>
      </div>
      <div class="card-body" style="height:75px">
        <h5 class="dadosVeiculo" *ngIf="veiculoSelecionado">{{veiculoSelecionado.volumetotal}}</h5>
        <p *ngIf="veiculoSelecionado">Unid.</p>
      </div>
    </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>Conectados</h4>
        </div>
        <div class="card-body" style="height:75px">
          <h5 class="dadosVeiculo" *ngIf="veiculoSelecionado">{{veiculoSelecionado.connected}}</h5>
          <p *ngIf="veiculoSelecionado">Unid.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>Software Updates</h4>
        </div>
        <div class="card-body" style="height:75px">
          <h5 class="dadosVeiculo" *ngIf="veiculoSelecionado">{{veiculoSelecionado.softwareUpdates}}</h5>
          <p *ngIf="veiculoSelecionado">Unid.</p>
        </div>
      </div>
    </div>
    <div style="height:272px"class="container text-center mt-2">
      <img *ngIf="veiculoSelecionado" [src]="imagem" alt="Modelo" style="width:50%">
    </div>
  </div>
</div>
<app-vehicle-data></app-vehicle-data>
