.menu-bar {
  position:fixed;
  height:13%;
  width:13%;
  max-width:720px;
  margin: 0;
  padding:0.5%;
  top:0%;
  right:-13%;
  transition: right 0.6 ease-in;
  z-index: 1;
}

.active-menu .menu-bar {
  right:0;
  border:solid 1px black;
  background-color: white;
}

.active-menu .overlay {
  position:fixed;
  top:0%;
  left:0;
  bottom:0;
  right:0;
}
