<app-cabecalho></app-cabecalho>

<div class="container text-center mt-5">
  <div class="card border-0" style="width:100%">
    <img class="card-img-top" src="assets/img/ranger.png" alt="Card image" style="width:80vw;margin:auto">
      <div id="boas-vindas" class="card-img-overlay" style="border:solid black 0.2px;background-color:rgb(255, 255, 255);opacity:0.8;margin:auto;padding:0;width:40vw;">
        <table class="table card-title float-start">
          <thead style="border:solid black 1px">
            <tr>
              <th class="tabela float-start"><p style="font-size:2vw">Sistema de Dados FORD</p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="tabela float-start"><p style="font-size:1.5vw;color:blue">Seja bem vindo(a)!</p></th>
            </tr>
          </tbody>
        </table>
      </div>
   </div>
</div>



